.triangle-shapes_container {
    width: MIN(34.846vw, 61.979vh);//476px;
    height: MIN(31.479vw, 55.990vh);//430px;
    margin-top: MIN(4.685vw, 8.333vh);//64px ;
    justify-self: center;
    background-image: url(../pic/Path.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: MIN(21.009vw, 37.367vh)/* 286.98px */ MIN(18.594vw, 33.073vh)/* 254px */;
    display: grid;
    grid-template-rows: 50% 50%;
    
    @include media('<=phone') {
        width: MIN(82.933vw, 41.467vh);
        height: MIN(74.933vw, 37.467vh);
        margin-top: MIN(28vw, 14vh);
        background-size: MIN(44.267vw, 22.133vh) MIN(50.131vw, 25.065vh);
        background-image: url(../pic/triangle-mobile.svg);
        margin-bottom: MIN(37.333vw, 18.667vh);

    }
}
.shapes_container-top {
    display: grid;
    grid-template-columns: 50% 50%;
}
.triangle_tl {
    justify-self: start;
}
.triangle_tr {
    justify-self: end;
}
.triangle_b {
    justify-self: center;
}