.pentagon-shapes_container {
    width: MIN(34.553vw, 61.458vh);//472px;
    height: MIN(33.895vw, 60.286vh);//463px;
    margin-top: MIN(3.514vw, 6.25vh);//48px;
    justify-self: center;
    background-image: url(../pic/Polygon.svg);
    background-repeat: no-repeat;
    background-size: MIN(24.020vw, 42.723vh)/* 328.11px */ MIN(22.845vw, 40.633vh)/* 312.06px */;
    background-position: center center;
    display: grid;
    grid-template-rows: 60% 40%;
    @include media('<=phone') {
        width: MIN(82.933vw, 41.467vh);
        height: MIN(81.333vw, 40.667vh);
        margin-top: MIN(25.333vw, 12.667vh);
        background-image: url(../pic/Polygon-mobile.svg);
        background-size: MIN(60.533vw, 30.267vh) MIN(60.533vw, 30.267vh);
        margin-bottom: MIN(34.667vw, 17.333vh);
    }
}
.pentagon_top {
    display: grid;
    grid-template-columns: auto auto auto;
}
.pentagon_bottom {
    display: grid;
    grid-template-columns: auto auto;
}
.pentagon_tc {
    justify-self: center;
}
.pentagon_tl {
    place-self: end center;
}
.pentagon_tr {
    place-self: end center;
}
.pentagon_bl {
    place-self: end end;
    margin-right: MIN(1.903vw, 3.385vh);//26px;
    @include media('<=phone') {
        margin-right: MIN(3.6vw, 1.8vh);
    }
}
.pentagon_br {
    place-self: end start;
    margin-left: MIN(1.903vw, 3.385vh);//26px;
}