.player-cpu_container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: MIN(5.271vw, 9.375vh);//72px;
    @include media('<=phone') {
        margin-top: MIN(26.4vw, 13.2vh);
        margin-bottom: MIN(65.333vw, 32.667vh);
    }
    
}
.container-with-result {
    display: grid;
    grid-template-columns: auto MIN(25.769vw, 45.833vh) auto;
    margin-top: MIN(5.271vw, 9.375vh);//72px;
    @include media('<=phone') {
        grid-template-columns: auto auto;
        margin-top: MIN(26.4vw, 13.2vh);
    }
}
.winner-box {
    width: MIN(16.105vw, 28.646vh);//220px;
    height: MIN(9.590vw, 17.057vh);//131px;
    order: 2;
    justify-self: center;
    margin-top: MIN(11.713vw, 20.833vh);//160px;
    text-align: center;
    display: grid;
    @include media('<=phone') {
        grid-column: 1 / 3;
        column-span: all;
        order: 3;
        margin-top: MIN(16.533vw, 8.267vh);
        width: 100%;
        height: MIN(34.933vw, 17.467vh);
        margin-bottom: MIN(13.867vw, 6.933vh);
    }
    .winner-text {
        font-family: $font-primary;
        font-size: MIN(4.1vw, 7.292vh);//56px;
        letter-spacing: 0px;
        font-weight: bold;
        color: hsl(0, 0, 100);
        @include media('<=phone') {
            font-size: MIN(14.933vw, 7.467vh);
        }
    }
    .play-again-button {
        width: 100%;
        height: MIN(3.514vw, 6.25vh);//48px;
        background-color: hsl(0, 0, 95);
        border-radius: MIN(0.586vw, 1.042vh);//8px;
        align-self: end;
        font-family: $font-primary;
        font-size: MIN(1.171vw, 2.083vw);//16px;
        letter-spacing: MIN(0.183vw, 0.326vh);//2.5px;
        color: hsl(228, 25, 31);
        cursor: pointer;
        border: none;
        &:hover {
            color: hsl(349, 71, 52);
        }
        @include media('<=phone') {
            width: MIN(58.667vw, 29.333vh);
            height: MIN(12.8vw, 6.4vh);
            justify-self: center;
            border-radius: MIN(2.133vw, 1.067vh);
            font-size: MIN(4.267vw, 2.133vh);
            letter-spacing: MIN(0.667vw, 0.333vh);
        }
    }
}
.player-box {
    display: grid;
    width: MIN(21.499vw, 38.151vh);//293px;
    text-align: center;
    justify-self: end;
    margin-right: MIN(2.635vw, 4.688vh);//36px;
    order: 1;
    @include media('<=phone') {
        width: MIN(34.667vw, 17.333vh);
        height: MIN(48.533vw, 24.267vh);
        margin-right: MIN(6.667vw, 3.333vh);
    }
    .player-text {
        font-size:  MIN(1.757vw, 3.125vh);//24px;
        font-family: $font-primary;
        font-weight: bold;
        letter-spacing: MIN(0.220vw, 0.391vh);//3px;
        color: hsl(0, 0, 100);
        @include media('<=phone') {
            order: 2;
            font-size: MIN(4vw, 2vh);
            letter-spacing: MIN(0.501vw, 0.251vh);
        }
    }
    .player-shape {
        place-self: end;
        border-radius: MIN(10.710vw, 19.049vh);//146.3px;
        @include media('<=phone') {
            place-self: start end;
            border-radius: MIN(17.333vw, 8.667vh);
        }   
    }
}
.cpu-box {
    display: grid;
    width: MIN(21.499vw, 38.151vh);//293px;
    height: MIN(28.917vw, 51.432vh);//395px;
    text-align: center;
    margin-left: MIN(2.635vw, 4.688vh);//36px;
    justify-items: center;
    order: 3;
    @include media('<=phone') {
        width: MIN(38.667vw, 19.333vh);
        height: MIN(48.533vw, 24.267vh);
        margin-left: MIN(6.667vw, 3.333vh);
    }
    .cpu-text {
        font-size:  MIN(1.757vw, 3.125vh);//24px;
        font-family: $font-primary;
        font-weight: bold;
        letter-spacing: MIN(0.220vw, 0.391vh);//3px;
        color: hsl(0, 0, 100);
        @include media('<=phone') {
            order: 2;
            font-size: MIN(4vw, 2vh);
            letter-spacing: MIN(0.501vw, 0.251vh);
        }
    }
    .cpu-shape {
        place-self: end;
        border-radius: MIN(10.710vw, 19.049vh);//146.3px;
        @include media('<=phone') {
            place-self: start center;
            border-radius: MIN(17.333vw, 8.667vh);

        }
    }
    .empty-shape {
        width: MIN(16.444vw, 29.249vh);//224.63px;
        height: MIN(16.444vw, 29.249vh);//224.63px;
        background-color: hsla(0, 0, 0, 0.1);
        border-radius: MIN(8.222vw, 14.6245vh);//112.315px;
        @include media('<=phone') {
            width: MIN(29.333vw, 14.667vh);
            height: MIN(29.333vw, 14.667vh);
            border-radius: MIN(14.667vw, 7.333vh);
            margin-top: MIN(3.019vw, 1.509vh);
            margin-bottom: MIN(2.315vw, 1.157vh);
        }       
    }
}
.winner {
    box-shadow: 0 0 0 MIN(4.810vw, 8.555vh)/* 65.7px */ hsla(0, 0, 59, 0.1), 
                0 0 0 MIN(9.934vw, 17.669vh)/* 135.7px */ hsla(0, 0, 59, 0.1), 
                0 0 0 MIN(16.010vw, 28.477vh)/* 218.7px */ hsla(0, 0, 59, 0.1);
    @include media('<=phone') {
        box-shadow: 0 0 0 MIN(5.067vw, 2.533vh) hsla(0, 0, 59, 0.1), 
                    0 0 0 MIN(12.533vw, 6.267vh) hsla(0, 0, 59, 0.1), 
                    0 0 0 MIN(21.067vw, 10.533vh) hsla(0, 0, 59, 0.1);
    }
}
