
.btn-pnl-cont {
    display: grid;
}
.rules-button {
    width: MIN(9.37vw, 16.667vh);//128px;
    height: MIN(2.928vw, 5.208vh);//40px;
    border: solid 1px hsl(0, 0, 100);
    border-radius: MIN(0.586vw, 1.042vh);//8px;
    background-color: transparent;
    font-family: $font-primary;
    color: hsl(0, 0, 100);
    font-size: MIN(1.172vw, 2.084vh);//16px;
    font-weight: 600;
    letter-spacing: MIN(0.183vw, 0.326vh);//2.5px;
    text-justify: center;
    position: absolute;
    right: 0;
    margin-right: MIN(2.344vw, 4.168vh);//32px;
    bottom:  MIN(2.344vw, 4.168vh);//32px;
    cursor: pointer;
    @include media('<=phone') {
        width: MIN(34.133vw, 17.067vh);
        height: MIN(10.667vw, 5.333vh);
        border: solid MIN(0.267vw, 0.133vh) hsl(0, 0, 100);
        border-radius: MIN(2.133vw, 1.067vh);
        font-size: MIN(4.267vw, 2.133vh);
        letter-spacing: MIN(0.667vw, 0.333vh);
        //margin-right: MIN(32.8vw, 16.4vh);
        //bottom: MIN(14.933vw, 7.467vh);
        position: relative;
        margin-right: 0;
        justify-self: center;
    }
}
.modal_container {
    display: grid;
    height: 100vh;
    @include media('<=phone') {
        background-color: hsl(0, 0, 59);
    }
}
.modal-info-pent {
    background-color: #fff;
    width: MIN(29.28vw, 52.08vh);//400px;
    height: MIN(33.748vw, 60.026vh);//461px;
    place-self: center center;
    border-radius: MIN(0.586vw, 1.042vh);// 8px;
    @include media('<=phone') {
        width: 100vw;
        height: 100vh;
        display: grid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    .modal-img-container-pent {
        margin-top: MIN(1.464vw, 2.604vh);//20px;
        margin-left: MIN(2.344vw, 4.168vh);//32px;
        width: MIN(24.597vw, 43.75vh);//336px;
        height: MIN(24.158vw, 42.969vh);//330px;
        @include media('<=phone') {
            margin-top: 0px;
            margin-left: MIN(9.333vw, 4.667vh);
            width: MIN(81.333vw, 40.667vh);
            height: MIN(72.267vw, 36.133vh);
            order: 1;
        }
    }
}
.modal-info {
    background-color: #fff;
    width: MIN(29.28vw, 52.08vh);//400px;
    height: MIN(30.381vw, 54.036vh);//415px;
    place-self: center center;
    border-radius: MIN(0.586vw, 1.042vh);// 8px;
    @include media('<=phone') {
        width: 100vw;
        height: 100vh;
        display: grid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    .modal-img_container {
        margin-top: MIN(3.514vw, 6.25vh);//48px;
        margin-left: MIN(3.587vw, 6.38vh);//49px;
        width: MIN(22.328vw, 39.714vh);//305px;
        height: MIN(19.839vw, 35.286vh);//271px;
        @include media('<=phone') {
            margin-top: 0px;
            margin-left: 0;
            justify-self: center;
            width: MIN(81.333vw, 40.667vh);
            height: MIN(72.267vw, 36.133vh);
            order: 1;
        }
    }
}
.info-text {
    font-family: $font-primary;
    font-size: MIN(2.344vw, 4.168vh);//32px;
    font-weight: 600;
    color: hsl(228, 25, 31);
    margin-top: MIN(2.344vw, 4.168vh);//32px;
    margin-left: MIN(2.344vw, 4.168vh);//32px;
    display: inline-block;
    @include media('<=phone') {
        font-size: MIN(8.533vw, 4.267vh);
        font-weight: bold;
        justify-self: center;
        margin-left: 0;
        margin-top: MIN(25.333vw, 12.667vh);
        //margin-left: MIN(38.667vw, 19.333vh);
        order: 0;
    }
}
.modal-close-button {
    display: inline-block;
    background-color: hsl(0, 0, 100);
    border: none;
    margin-left: MIN(16.984vw, 30.208vh);//232px;
    width: MIN(1.398vw, 2.486vh);//19.09px;
    height: MIN(1.398vw, 2.486vh);//19.09px;
    //background-color:red;
    .close-icon {
        width: 100%;
        height: 100%;
        cursor: pointer;  
    }
    @include media ('<=phone') {
        order: 3;
        margin-left: 0;
        margin-top: MIN(10.133vw, 5.067vh);
        justify-self: center;
        width: MIN(5.091vw, 2.545vh);
        height: MIN(5.091vw, 2.545vh);
    }
}
.triangle {
    width: 100%;
    height: 100%
}
.pentagon {
    width: 100%;
    height: 100%
}