.shape-button-small {
   background-color: hsl(0, 0, 95);
   width: MIN(10.615vw, 18.880vh);//145px;
   height: MIN(10.835vw, 19.271vh);//148px;
   border-radius: MIN(5.307vw, 9.44vh);//72.5px;
   border: solid MIN(1.228vw, 2.184vh)/* 16.77px */ transparent;
   border-width: MIN(1.228vw, 2.184vh);
   box-shadow: 0px MIN(0.48vw, 0.854vh)/* 6.56px */ transparent, 
               inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   cursor: pointer;
   @include media('<=phone') {
      width: MIN(25.6vw, 12.8vh);
      height: MIN(25.6vw, 12.8vh);
      border-radius: MIN(12.8vw, 6.4vh);
      border: solid MIN(2.933vw, 1.467vh) transparent;
      border-width: MIN(2.933vw, 1.467vh);
      box-shadow: 0px MIN(0.48vw, 0.854vh) transparent, 
                  inset 0px MIN(0.427vw, 0.759vh) hsl(230, 23, 78);
   }
  
}
.paper-small {
   border-color: hsl(230, 89, 62);
   box-shadow: 0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(230, 64, 46),
               inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   &:hover {
      box-shadow: 0 0 0 MIN(1.301vw, 2.314vh)/*17.77px*/ hsla(0, 0, 59, 0.1), 
                  0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(230, 64, 46),
                  inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);  
   }
   @include media('<=phone') {
      box-shadow: 0px MIN(1.147vw, 0.573vh) hsl(230, 64, 46),
               inset 0px MIN(1.019vw, 0.509vh) hsl(230, 23, 78);
   }
}
.rock-small {
   border-color: hsl(349, 71, 52);
   box-shadow: 0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(347, 75, 35), 
               inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   &:hover {
      box-shadow: 0 0 0 MIN(1.301vw, 2.314vh)/*17.77px*/ hsla(0, 0, 59, 0.1), 
                  0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(347, 75, 35), 
                  inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78); 
   }
   @include media('<=phone') {
      box-shadow: 0px MIN(1.147vw, 0.573vh) hsl(347, 75, 35),
               inset 0px MIN(1.019vw, 0.509vh) hsl(230, 23, 78);
   }
}
.scissors-small {
   border-color: hsl(39, 89, 49);
   box-shadow: 0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(28, 77, 44), 
               inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   &:hover {
      box-shadow: 0 0 0 MIN(1.301vw, 2.314vh)/*17.77px*/ hsla(0, 0, 59, 0.1), 
                  0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(28, 77, 44), 
                  inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   }
   @include media('<=phone') {
      box-shadow: 0px MIN(1.147vw, 0.573vh) hsl(28, 77, 44),
               inset 0px MIN(1.019vw, 0.509vh) hsl(230, 23, 78);
   }
}
.spock-small {
   border-color: hsl(189, 58, 53);
   box-shadow: 0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(194, 58, 42), 
               inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   &:hover {
      box-shadow: 0 0 0 MIN(1.301vw, 2.314vh)/*17.77px*/ hsla(0, 0, 59, 0.1), 
                  0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(194, 58, 42), 
                  inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   }
   @include media('<=phone') {
      box-shadow: 0px MIN(1.147vw, 0.573vh) hsl(194, 58, 42),
               inset 0px MIN(1.019vw, 0.509vh) hsl(230, 23, 78);
   }
}
.lizard-small {
   border-color: hsl(261, 73, 70);
   box-shadow: 0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(261, 51, 44), 
               inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   &:hover {
      box-shadow: 0 0 0 MIN(1.301vw, 2.314vh)/*17.77px*/ hsla(0, 0, 59, 0.1), 
                  0px MIN(0.48vw, 0.854vh)/* 6.56px */ hsl(261, 51, 44), 
                  inset 0px MIN(0.427vw, 0.759vh)/* 5.83px */ hsl(230, 23, 78);
   }
   @include media('<=phone') {
      box-shadow: 0px MIN(1.147vw, 0.573vh) hsl(261, 51, 44),
               inset 0px MIN(1.019vw, 0.509vh) hsl(230, 23, 78);
   }
}

.shape-button-large {
   background-color: hsl(0, 0, 95);
   width: MIN(14.495vw, 25.781vh);//198px;
   height: MIN(14.202vw, 25.260vh);//194px;
   border-radius: MIN(7.247vw, 12.891vh);//99px;
   border: solid MIN(1.684vw, 2.995vh)/*23px*/ transparent;
   border-width: MIN(1.684vw, 2.995vh);
   box-shadow: 0px MIN(0.659vw, 1.172vh)/*  9px */ transparent, 
               inset 0px MIN(0.586vw, 1.042vh)/*  8px */ hsl(230, 23, 78);
   cursor: pointer;
   @include media('<=phone') {
      width: MIN(34.667vw, 17.333vh);
      height: MIN(35.467vw, 17.733vh);
      border-radius: MIN(17.333vw, 8.667vh);
      border: solid MIN(4vw, 2vh) transparent;
      border-width: MIN(4vw, 2vh);
      box-shadow: 0px MIN(1.395vw, 0.697vh) transparent, 
                  inset 0px MIN(1.568vw, 0.784vh) hsl(230, 23, 78);
   }
}
.paper-large {
   border-color: hsl(230, 89, 62);
   box-shadow: 0px MIN(0.659vw, 1.172vh)/*  9px */ hsl(230, 64, 46),
               inset 0px MIN(0.586vw, 1.042vh)/*  8px */ hsl(230, 23, 78);
   &:hover {
      box-shadow: 0 0 0 24px hsla(0, 0, 59, 0.1), 
      0px MIN(0.659vw, 1.172vh)/*  9px */ hsl(230, 64, 46),
      inset 0px MIN(0.586vw, 1.042vh)/*  8px */ hsl(230, 23, 78);  
   }
   @include media('<=phone') {
      box-shadow: 0px MIN(1.395vw, 0.697vh) hsl(230, 64, 46),
                  inset 0px MIN(1.568vw, 0.784vh) hsl(230, 23, 78);
   }
}
.rock-large {
   border-color: hsl(349, 71, 52);
   box-shadow: 0px MIN(0.659vw, 1.172vh)/*  9px */ hsl(347, 75, 35), 
               inset 0px MIN(0.586vw, 1.042vh)/*  8px */ hsl(230, 23, 78);
   &:hover {
      box-shadow: 0 0 0 24px hsla(0, 0, 59, 0.1), 
                  0px MIN(0.659vw, 1.172vh)/*  9px */ hsl(347, 75, 35),
                  inset 0px MIN(0.586vw, 1.042vh)/*  8px */ hsl(230, 23, 78);  
   }
   @include media('<=phone') {
      box-shadow: 0px MIN(1.395vw, 0.697vh) hsl(347, 75, 35),
               inset 0px MIN(1.568vw, 0.784vh) hsl(230, 23, 78);
   }
}
.scissors-large {
   border-color: hsl(39, 89, 49);
   box-shadow: 0px MIN(0.659vw, 1.172vh)/*  9px */ hsl(28, 77, 44), 
               inset 0px MIN(0.586vw, 1.042vh)/*  8px */ hsl(230, 23, 78);
   &:hover {
      box-shadow: 0 0 0 24px hsla(0, 0, 59, 0.1), 
                  0px MIN(0.659vw, 1.172vh)/*  9px */ hsl(28, 77, 44),
                  inset 0px MIN(0.586vw, 1.042vh)/*  8px */ hsl(230, 23, 78);  
   }
   @include media('<=phone') {
      box-shadow: 0px MIN(1.395vw, 0.697vh) hsl(28, 77, 44),
               inset 0px MIN(1.568vw, 0.784vh) hsl(230, 23, 78);
   }
}
.shape-button-xl {
   background-color: hsl(0, 0, 95);
   width: MIN(21.348vw, 37.970vh)/* 291.61px */;
   height: MIN(21.962vw, 39.063vh)/* 300px */;
   border-radius: MIN(10.710vw, 19.049vh)/* 146.3px */;
   border: solid MIN(2.489vw, 4.427vh)/* 34px */ transparent;
   border-width: MIN(2.489vw, 4.427vh);
   box-shadow: 0px MIN(0.974vw, 1.732vh)/* 13.3px */ transparent, 
               inset 0px MIN(0.865vw, 1.539vh)/* 11.82px */ hsl(230, 23, 78);
   @include media('<=phone') {
      width: MIN(34.667vw, 17.333vh);
      height: MIN(34.667vw, 17.333vh);
      border-radius: MIN(17.333vw, 8.667vh);
      border: solid MIN(4vw, 2vh) transparent;
      border-width: MIN(4vw, 2vh);
   }
}
.paper-xl{
   border-color: hsl(230, 89, 62);
   box-shadow: 0px MIN(0.974vw, 1.732vh)/* 13.3px */ hsl(230, 64, 46), 
               inset 0px MIN(0.865vw, 1.539vh)/* 11.82px */ hsl(230, 23, 78);
   @include media('<=phone') {
      box-shadow: 0px MIN(1.568vw, 0.784vh) hsl(230, 64, 46), 
               inset 0px MIN(1.395vw, 0.697vh) hsl(230, 23, 78);
   }
}
.rock-xl {
   border-color: hsl(349, 71, 52);
   box-shadow: 0px MIN(0.974vw, 1.732vh)/* 13.3px */ hsl(347, 75, 35), 
               inset 0px MIN(0.865vw, 1.539vh)/* 11.82px */ hsl(230, 23, 78);
   @include media('<=phone') {
      box-shadow: 0px MIN(1.568vw, 0.784vh) hsl(347, 75, 35), 
      inset 0px MIN(1.395vw, 0.697vh) hsl(230, 23, 78);
   }
}
.scissors-xl {
   border-color: hsl(39, 89, 49);
   box-shadow: 0px MIN(0.974vw, 1.732vh)/* 13.3px */ hsl(28, 77, 44), 
               inset 0px MIN(0.865vw, 1.539vh)/* 11.82px */ hsl(230, 23, 78);
   @include media('<=phone') {
      box-shadow: 0px MIN(1.568vw, 0.784vh) hsl(28, 77, 44), 
      inset 0px MIN(1.395vw, 0.697vh) hsl(230, 23, 78);
   }
}
.spock-xl {
   border-color: hsl(189, 58, 53);
   box-shadow: 0px MIN(0.974vw, 1.732vh)/* 13.3px */ hsl(194, 58, 42), 
               inset 0px MIN(0.865vw, 1.539vh)/* 11.82px */ hsl(230, 23, 78);
   @include media('<=phone') {
      box-shadow: 0px MIN(1.568vw, 0.784vh) hsl(194, 58, 42), 
      inset 0px MIN(1.395vw, 0.697vh) hsl(230, 23, 78);
   }
}
.lizard-xl {
   border-color: hsl(261, 73, 70);
   box-shadow: 0px MIN(0.974vw, 1.732vh)/* 13.3px */ hsl(261, 51, 44), 
               inset 0px MIN(0.865vw, 1.539vh)/* 11.82px */ hsl(230, 23, 78);
   @include media('<=phone') {
      box-shadow: 0px MIN(1.568vw, 0.784vh) hsl(261, 51, 44), 
      inset 0px MIN(1.395vw, 0.697vh) hsl(230, 23, 78);
   }
}