.switch_container {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: MIN(29.333vw, 14.667vh);
    margin-right: MIN(40vw, 20vh);
    width: MIN(4.392vw, 7.813vh);
    height: MIN(2.196vw, 3.906vh);
    border-radius: MIN(1.464vw, 2.604vh);
    background-color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    @include media('<=phone') {
      left: 0;
      margin-top: MIN(40vw, 20vh);
      width: MIN(13.333vw, 6.667vh);
      height: MIN(6.667vw, 3.333vh);
      border-radius: MIN(3.333vw, 1.667vh);
      margin-left: MIN(10.667vw, 5.333vh);
    }
}
.switch-hidden {
    color: white;
 }

.switch0 {
    cursor: pointer;
    display: grid;
    background-image: url(../pic/spock-mini.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}
.switch1 {
   cursor: pointer;
   display: grid;
   background-image: url(../pic/scissors-mini.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 80%;
}

.switch_circle0 {
   background-color: hsl(228, 25, 31);
   height: MIN(1.903vw, 3.385vh);
   width: MIN(1.903vw, 3.385vh);
   border-radius: MIN(0.952vw, 1.693vh);
   place-self: center center;
   @include media('<=phone') {
      height: MIN(5.333vw, 2.667vh);
      width: MIN(5.333vw, 2.667vh);
      border-radius: MIN(2.667vw, 1.333vh);
   }

}
.animation0 {
   transform: translateX(MIN(2.196vw, 3.906vh));
   @include media('<=phone') {
      transform: translateX(25px);
   }
   transition: transform 250ms;
}
.animation1 {
   transition: transform 250ms;
}
.switch_circle1 {
   background-color: hsl(228, 25, 31);
   height: MIN(1.464vw, 2.604vh);//20px;
   width: MIN(1.464vw, 2.604vh);//20px;
   border-radius: MIN(0.732vw, 1.302vh);//10px;
   place-self: center center;
}
.spock-MINi {
   width: 80%;
   height: 100%;
   margin-left: 10px;
}
.scissors-MINi {
   width: 100%;
   height: 100%;
}