.title-score_box {
    width: MIN(51.245vw, 91.146vh);//700px;
    height: MIN(10.981vw, 19.531vh);//150px;
    border: MIN(0.220vw, 0.391vh) solid rgba(255, 255, 255, 0.2892);
    border-radius: MIN(1.098vw, 1.953vh);//15px;
    display: grid;
    grid-template-columns: 50% 50%;
    place-self: center;
    margin-top: MIN(3.514vw, 6.250vh);//48px;
    @include media('<=phone') {
        width: MIN(82.933vw, 41.467vh);
        height: MIN(25.6vw, 12.8vh);
        border: MIN(0.220vw, 0.391vh) solid rgba(255, 255, 255, 0.2892);
        border-radius: MIN(1.333vw, 0.667vh);
        margin-top: MIN(8.533vw, 4.267vh);
    } 
    .title_box {
        font-family: $font-primary;
        font-weight: bold;
        color: hsl(0, 0, 100);
        letter-spacing: 0px;
        font-size: MIN(2.928vw, 5.208vh);//40px;
        line-height: MIN(2.343vw, 4.167vh);//32px;
        margin-top: MIN(1.757vw, 3.125vh)/* 24px */;
        margin-left: MIN(2.343vw, 4.167vh);//32px;      
        @include media('<=phone') {
            width: MIN(22.13vw, 11.07vh);
            height: MIN(12.8vw, 6.4vh);
            font-size: MIN(5.6vw, 2.8vh);
            line-height: MIN(4.267vw, 2.133vh);
            margin-top: MIN(6.4vw, 3.2vh); 
            margin-left: MIN(6.133vw, 3.067vh);
        } 
    }
    .spock-title_box {
        margin-top: MIN(1.464vw, 2.604vh);//20px;
        font-size: MIN(2.050vw, 3.646vh);//28px;
        line-height: MIN(1.611vw, 2.865vh);//22px;
        @include media('<=phone') {
            margin-top: MIN(6.4vw, 3.2vh);
            font-size: MIN(2.93vw, 1.47vh);
            line-height: MIN(2.53vw, 1.27vh);
        } 
    }
    .score_box {
        background-color: hsl(0, 0, 100);
        width: MIN(10.981vw, 19.531vh);//150px;
        height: MIN(8.346vw, 14.844vh);//114px;
        border-radius: MIN(0.586vw, 1.042vh);//8px;
        place-self: center end;
        margin-right: MIN(1.757vw, 3.125vh)/* 24px */;
        text-align: center;
        letter-spacing: MIN(0.183vw, 0.326vh);//2.5px;
        z-index: 1000;
        @include media('<=phone') {
            width: MIN(21.33vw, 10.67vh);
            height: MIN(19.2vw, 9.6vh);
            border-radius: MIN(1.07vw, 0.53vh);
        } 
        .score_text {
            color: hsl(230, 60, 46);
            font-family: $font-primary;
            font-size: MIN(1.171vw, 2.083vw)/* 16px */;
            font-weight: 600;
            margin-top: MIN(1.171vw, 2.083vw)/* 16px */;
            @include media('<=phone') {
                font-size: MIN(2.67vw, 1.33vh);
                margin-top: MIN(2.67vw, 1.33vh);
            }
        }
        .score_number {
            color: hsl(247, 10, 37);
            font-family: $font-primary;
            font-size: MIN(4.685vw, 8.333vh)/* 64px */;
            line-height: MIN(4.685vw, 8.333vh)/* 64px */;
            height: MIN(4.685vw, 8.333vh)/* 64px */;
            font-weight: bold;
            @include media('<=phone') {
                font-size: MIN(10.67vw, 5.33vh);
                line-height: MIN(10.67vw, 5.33vh);
                height: MIN(10.67vw, 5.33vh);
            }
        }
    }
}
