@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
.app {
  background: radial-gradient(#1f3756, #141639);
  min-height: 100vh;
  overflow: auto;
}

.title-score_box {
  width: MIN(51.245vw, 91.146vh);
  height: MIN(10.981vw, 19.531vh);
  border: MIN(0.22vw, 0.391vh) solid rgba(255, 255, 255, 0.2892);
  border-radius: MIN(1.098vw, 1.953vh);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  place-self: center;
  margin-top: MIN(3.514vw, 6.25vh);
}

@media (max-width: 900px) {
  .title-score_box {
    width: MIN(82.933vw, 41.467vh);
    height: MIN(25.6vw, 12.8vh);
    border: MIN(0.22vw, 0.391vh) solid rgba(255, 255, 255, 0.2892);
    border-radius: MIN(1.333vw, 0.667vh);
    margin-top: MIN(8.533vw, 4.267vh);
  }
}

.title-score_box .title_box {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 0px;
  font-size: MIN(2.928vw, 5.208vh);
  line-height: MIN(2.343vw, 4.167vh);
  margin-top: MIN(1.757vw, 3.125vh);
  margin-left: MIN(2.343vw, 4.167vh);
}

@media (max-width: 900px) {
  .title-score_box .title_box {
    width: MIN(22.13vw, 11.07vh);
    height: MIN(12.8vw, 6.4vh);
    font-size: MIN(5.6vw, 2.8vh);
    line-height: MIN(4.267vw, 2.133vh);
    margin-top: MIN(6.4vw, 3.2vh);
    margin-left: MIN(6.133vw, 3.067vh);
  }
}

.title-score_box .spock-title_box {
  margin-top: MIN(1.464vw, 2.604vh);
  font-size: MIN(2.05vw, 3.646vh);
  line-height: MIN(1.611vw, 2.865vh);
}

@media (max-width: 900px) {
  .title-score_box .spock-title_box {
    margin-top: MIN(6.4vw, 3.2vh);
    font-size: MIN(2.93vw, 1.47vh);
    line-height: MIN(2.53vw, 1.27vh);
  }
}

.title-score_box .score_box {
  background-color: white;
  width: MIN(10.981vw, 19.531vh);
  height: MIN(8.346vw, 14.844vh);
  border-radius: MIN(0.586vw, 1.042vh);
  place-self: center end;
  margin-right: MIN(1.757vw, 3.125vh);
  text-align: center;
  letter-spacing: MIN(0.183vw, 0.326vh);
  z-index: 1000;
}

@media (max-width: 900px) {
  .title-score_box .score_box {
    width: MIN(21.33vw, 10.67vh);
    height: MIN(19.2vw, 9.6vh);
    border-radius: MIN(1.07vw, 0.53vh);
  }
}

.title-score_box .score_box .score_text {
  color: #2f46bc;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: MIN(1.171vw, 2.083vw);
  font-weight: 600;
  margin-top: MIN(1.171vw, 2.083vw);
}

@media (max-width: 900px) {
  .title-score_box .score_box .score_text {
    font-size: MIN(2.67vw, 1.33vh);
    margin-top: MIN(2.67vw, 1.33vh);
  }
}

.title-score_box .score_box .score_number {
  color: #575568;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: MIN(4.685vw, 8.333vh);
  line-height: MIN(4.685vw, 8.333vh);
  height: MIN(4.685vw, 8.333vh);
  font-weight: bold;
}

@media (max-width: 900px) {
  .title-score_box .score_box .score_number {
    font-size: MIN(10.67vw, 5.33vh);
    line-height: MIN(10.67vw, 5.33vh);
    height: MIN(10.67vw, 5.33vh);
  }
}

p {
  margin: 0;
  padding: 0;
}

.main {
  display: -ms-grid;
  display: grid;
}

.switch_container {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: MIN(29.333vw, 14.667vh);
  margin-right: MIN(40vw, 20vh);
  width: MIN(4.392vw, 7.813vh);
  height: MIN(2.196vw, 3.906vh);
  border-radius: MIN(1.464vw, 2.604vh);
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media (max-width: 900px) {
  .switch_container {
    left: 0;
    margin-top: MIN(40vw, 20vh);
    width: MIN(13.333vw, 6.667vh);
    height: MIN(6.667vw, 3.333vh);
    border-radius: MIN(3.333vw, 1.667vh);
    margin-left: MIN(10.667vw, 5.333vh);
  }
}

.switch-hidden {
  color: white;
}

.switch0 {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  background-image: url(../pic/spock-mini.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

.switch1 {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  background-image: url(../pic/scissors-mini.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.switch_circle0 {
  background-color: #3b4363;
  height: MIN(1.903vw, 3.385vh);
  width: MIN(1.903vw, 3.385vh);
  border-radius: MIN(0.952vw, 1.693vh);
  place-self: center center;
}

@media (max-width: 900px) {
  .switch_circle0 {
    height: MIN(5.333vw, 2.667vh);
    width: MIN(5.333vw, 2.667vh);
    border-radius: MIN(2.667vw, 1.333vh);
  }
}

.animation0 {
  -webkit-transform: translateX(MIN(2.196vw, 3.906vh));
          transform: translateX(MIN(2.196vw, 3.906vh));
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

@media (max-width: 900px) {
  .animation0 {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

.animation1 {
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.switch_circle1 {
  background-color: #3b4363;
  height: MIN(1.464vw, 2.604vh);
  width: MIN(1.464vw, 2.604vh);
  border-radius: MIN(0.732vw, 1.302vh);
  place-self: center center;
}

.spock-MINi {
  width: 80%;
  height: 100%;
  margin-left: 10px;
}

.scissors-MINi {
  width: 100%;
  height: 100%;
}

.triangle-shapes_container {
  width: MIN(34.846vw, 61.979vh);
  height: MIN(31.479vw, 55.99vh);
  margin-top: MIN(4.685vw, 8.333vh);
  -ms-grid-column-align: center;
      justify-self: center;
  background-image: url(../pic/Path.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: MIN(21.009vw, 37.367vh) MIN(18.594vw, 33.073vh);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

@media (max-width: 900px) {
  .triangle-shapes_container {
    width: MIN(82.933vw, 41.467vh);
    height: MIN(74.933vw, 37.467vh);
    margin-top: MIN(28vw, 14vh);
    background-size: MIN(44.267vw, 22.133vh) MIN(50.131vw, 25.065vh);
    background-image: url(../pic/triangle-mobile.svg);
    margin-bottom: MIN(37.333vw, 18.667vh);
  }
}

.shapes_container-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.triangle_tl {
  -ms-grid-column-align: start;
      justify-self: start;
}

.triangle_tr {
  -ms-grid-column-align: end;
      justify-self: end;
}

.triangle_b {
  -ms-grid-column-align: center;
      justify-self: center;
}

.pentagon-shapes_container {
  width: MIN(34.553vw, 61.458vh);
  height: MIN(33.895vw, 60.286vh);
  margin-top: MIN(3.514vw, 6.25vh);
  -ms-grid-column-align: center;
      justify-self: center;
  background-image: url(../pic/Polygon.svg);
  background-repeat: no-repeat;
  background-size: MIN(24.02vw, 42.723vh) MIN(22.845vw, 40.633vh);
  background-position: center center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
}

@media (max-width: 900px) {
  .pentagon-shapes_container {
    width: MIN(82.933vw, 41.467vh);
    height: MIN(81.333vw, 40.667vh);
    margin-top: MIN(25.333vw, 12.667vh);
    background-image: url(../pic/Polygon-mobile.svg);
    background-size: MIN(60.533vw, 30.267vh) MIN(60.533vw, 30.267vh);
    margin-bottom: MIN(34.667vw, 17.333vh);
  }
}

.pentagon_top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.pentagon_bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.pentagon_tc {
  -ms-grid-column-align: center;
      justify-self: center;
}

.pentagon_tl {
  place-self: end center;
}

.pentagon_tr {
  place-self: end center;
}

.pentagon_bl {
  place-self: end end;
  margin-right: MIN(1.903vw, 3.385vh);
}

@media (max-width: 900px) {
  .pentagon_bl {
    margin-right: MIN(3.6vw, 1.8vh);
  }
}

.pentagon_br {
  place-self: end start;
  margin-left: MIN(1.903vw, 3.385vh);
}

.shape-button-small {
  background-color: #f2f2f2;
  width: MIN(10.615vw, 18.88vh);
  height: MIN(10.835vw, 19.271vh);
  border-radius: MIN(5.307vw, 9.44vh);
  border: solid MIN(1.228vw, 2.184vh) transparent;
  border-width: MIN(1.228vw, 2.184vh);
  -webkit-box-shadow: 0px MIN(0.48vw, 0.854vh) transparent, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0px MIN(0.48vw, 0.854vh) transparent, inset 0px MIN(0.427vw, 0.759vh) #babed4;
  cursor: pointer;
}

@media (max-width: 900px) {
  .shape-button-small {
    width: MIN(25.6vw, 12.8vh);
    height: MIN(25.6vw, 12.8vh);
    border-radius: MIN(12.8vw, 6.4vh);
    border: solid MIN(2.933vw, 1.467vh) transparent;
    border-width: MIN(2.933vw, 1.467vh);
    -webkit-box-shadow: 0px MIN(0.48vw, 0.854vh) transparent, inset 0px MIN(0.427vw, 0.759vh) #babed4;
            box-shadow: 0px MIN(0.48vw, 0.854vh) transparent, inset 0px MIN(0.427vw, 0.759vh) #babed4;
  }
}

.paper-small {
  border-color: #4865f4;
  -webkit-box-shadow: 0px MIN(0.48vw, 0.854vh) #2a43c0, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0px MIN(0.48vw, 0.854vh) #2a43c0, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

.paper-small:hover {
  -webkit-box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #2a43c0, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #2a43c0, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

@media (max-width: 900px) {
  .paper-small {
    -webkit-box-shadow: 0px MIN(1.147vw, 0.573vh) #2a43c0, inset 0px MIN(1.019vw, 0.509vh) #babed4;
            box-shadow: 0px MIN(1.147vw, 0.573vh) #2a43c0, inset 0px MIN(1.019vw, 0.509vh) #babed4;
  }
}

.rock-small {
  border-color: #dc2e4e;
  -webkit-box-shadow: 0px MIN(0.48vw, 0.854vh) #9c1633, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0px MIN(0.48vw, 0.854vh) #9c1633, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

.rock-small:hover {
  -webkit-box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #9c1633, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #9c1633, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

@media (max-width: 900px) {
  .rock-small {
    -webkit-box-shadow: 0px MIN(1.147vw, 0.573vh) #9c1633, inset 0px MIN(1.019vw, 0.509vh) #babed4;
            box-shadow: 0px MIN(1.147vw, 0.573vh) #9c1633, inset 0px MIN(1.019vw, 0.509vh) #babed4;
  }
}

.scissors-small {
  border-color: #ec9e0e;
  -webkit-box-shadow: 0px MIN(0.48vw, 0.854vh) #c76a1a, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0px MIN(0.48vw, 0.854vh) #c76a1a, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

.scissors-small:hover {
  -webkit-box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #c76a1a, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #c76a1a, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

@media (max-width: 900px) {
  .scissors-small {
    -webkit-box-shadow: 0px MIN(1.147vw, 0.573vh) #c76a1a, inset 0px MIN(1.019vw, 0.509vh) #babed4;
            box-shadow: 0px MIN(1.147vw, 0.573vh) #c76a1a, inset 0px MIN(1.019vw, 0.509vh) #babed4;
  }
}

.spock-small {
  border-color: #42b8cd;
  -webkit-box-shadow: 0px MIN(0.48vw, 0.854vh) #2d8ca9, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0px MIN(0.48vw, 0.854vh) #2d8ca9, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

.spock-small:hover {
  -webkit-box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #2d8ca9, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #2d8ca9, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

@media (max-width: 900px) {
  .spock-small {
    -webkit-box-shadow: 0px MIN(1.147vw, 0.573vh) #2d8ca9, inset 0px MIN(1.019vw, 0.509vh) #babed4;
            box-shadow: 0px MIN(1.147vw, 0.573vh) #2d8ca9, inset 0px MIN(1.019vw, 0.509vh) #babed4;
  }
}

.lizard-small {
  border-color: #a27bea;
  -webkit-box-shadow: 0px MIN(0.48vw, 0.854vh) #5f37a9, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0px MIN(0.48vw, 0.854vh) #5f37a9, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

.lizard-small:hover {
  -webkit-box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #5f37a9, inset 0px MIN(0.427vw, 0.759vh) #babed4;
          box-shadow: 0 0 0 MIN(1.301vw, 2.314vh) rgba(150, 150, 150, 0.1), 0px MIN(0.48vw, 0.854vh) #5f37a9, inset 0px MIN(0.427vw, 0.759vh) #babed4;
}

@media (max-width: 900px) {
  .lizard-small {
    -webkit-box-shadow: 0px MIN(1.147vw, 0.573vh) #5f37a9, inset 0px MIN(1.019vw, 0.509vh) #babed4;
            box-shadow: 0px MIN(1.147vw, 0.573vh) #5f37a9, inset 0px MIN(1.019vw, 0.509vh) #babed4;
  }
}

.shape-button-large {
  background-color: #f2f2f2;
  width: MIN(14.495vw, 25.781vh);
  height: MIN(14.202vw, 25.26vh);
  border-radius: MIN(7.247vw, 12.891vh);
  border: solid MIN(1.684vw, 2.995vh) transparent;
  border-width: MIN(1.684vw, 2.995vh);
  -webkit-box-shadow: 0px MIN(0.659vw, 1.172vh) transparent, inset 0px MIN(0.586vw, 1.042vh) #babed4;
          box-shadow: 0px MIN(0.659vw, 1.172vh) transparent, inset 0px MIN(0.586vw, 1.042vh) #babed4;
  cursor: pointer;
}

@media (max-width: 900px) {
  .shape-button-large {
    width: MIN(34.667vw, 17.333vh);
    height: MIN(35.467vw, 17.733vh);
    border-radius: MIN(17.333vw, 8.667vh);
    border: solid MIN(4vw, 2vh) transparent;
    border-width: MIN(4vw, 2vh);
    -webkit-box-shadow: 0px MIN(1.395vw, 0.697vh) transparent, inset 0px MIN(1.568vw, 0.784vh) #babed4;
            box-shadow: 0px MIN(1.395vw, 0.697vh) transparent, inset 0px MIN(1.568vw, 0.784vh) #babed4;
  }
}

.paper-large {
  border-color: #4865f4;
  -webkit-box-shadow: 0px MIN(0.659vw, 1.172vh) #2a43c0, inset 0px MIN(0.586vw, 1.042vh) #babed4;
          box-shadow: 0px MIN(0.659vw, 1.172vh) #2a43c0, inset 0px MIN(0.586vw, 1.042vh) #babed4;
}

.paper-large:hover {
  -webkit-box-shadow: 0 0 0 24px rgba(150, 150, 150, 0.1), 0px MIN(0.659vw, 1.172vh) #2a43c0, inset 0px MIN(0.586vw, 1.042vh) #babed4;
          box-shadow: 0 0 0 24px rgba(150, 150, 150, 0.1), 0px MIN(0.659vw, 1.172vh) #2a43c0, inset 0px MIN(0.586vw, 1.042vh) #babed4;
}

@media (max-width: 900px) {
  .paper-large {
    -webkit-box-shadow: 0px MIN(1.395vw, 0.697vh) #2a43c0, inset 0px MIN(1.568vw, 0.784vh) #babed4;
            box-shadow: 0px MIN(1.395vw, 0.697vh) #2a43c0, inset 0px MIN(1.568vw, 0.784vh) #babed4;
  }
}

.rock-large {
  border-color: #dc2e4e;
  -webkit-box-shadow: 0px MIN(0.659vw, 1.172vh) #9c1633, inset 0px MIN(0.586vw, 1.042vh) #babed4;
          box-shadow: 0px MIN(0.659vw, 1.172vh) #9c1633, inset 0px MIN(0.586vw, 1.042vh) #babed4;
}

.rock-large:hover {
  -webkit-box-shadow: 0 0 0 24px rgba(150, 150, 150, 0.1), 0px MIN(0.659vw, 1.172vh) #9c1633, inset 0px MIN(0.586vw, 1.042vh) #babed4;
          box-shadow: 0 0 0 24px rgba(150, 150, 150, 0.1), 0px MIN(0.659vw, 1.172vh) #9c1633, inset 0px MIN(0.586vw, 1.042vh) #babed4;
}

@media (max-width: 900px) {
  .rock-large {
    -webkit-box-shadow: 0px MIN(1.395vw, 0.697vh) #9c1633, inset 0px MIN(1.568vw, 0.784vh) #babed4;
            box-shadow: 0px MIN(1.395vw, 0.697vh) #9c1633, inset 0px MIN(1.568vw, 0.784vh) #babed4;
  }
}

.scissors-large {
  border-color: #ec9e0e;
  -webkit-box-shadow: 0px MIN(0.659vw, 1.172vh) #c76a1a, inset 0px MIN(0.586vw, 1.042vh) #babed4;
          box-shadow: 0px MIN(0.659vw, 1.172vh) #c76a1a, inset 0px MIN(0.586vw, 1.042vh) #babed4;
}

.scissors-large:hover {
  -webkit-box-shadow: 0 0 0 24px rgba(150, 150, 150, 0.1), 0px MIN(0.659vw, 1.172vh) #c76a1a, inset 0px MIN(0.586vw, 1.042vh) #babed4;
          box-shadow: 0 0 0 24px rgba(150, 150, 150, 0.1), 0px MIN(0.659vw, 1.172vh) #c76a1a, inset 0px MIN(0.586vw, 1.042vh) #babed4;
}

@media (max-width: 900px) {
  .scissors-large {
    -webkit-box-shadow: 0px MIN(1.395vw, 0.697vh) #c76a1a, inset 0px MIN(1.568vw, 0.784vh) #babed4;
            box-shadow: 0px MIN(1.395vw, 0.697vh) #c76a1a, inset 0px MIN(1.568vw, 0.784vh) #babed4;
  }
}

.shape-button-xl {
  background-color: #f2f2f2;
  width: MIN(21.348vw, 37.97vh);
  height: MIN(21.962vw, 39.063vh);
  border-radius: MIN(10.71vw, 19.049vh);
  border: solid MIN(2.489vw, 4.427vh) transparent;
  border-width: MIN(2.489vw, 4.427vh);
  -webkit-box-shadow: 0px MIN(0.974vw, 1.732vh) transparent, inset 0px MIN(0.865vw, 1.539vh) #babed4;
          box-shadow: 0px MIN(0.974vw, 1.732vh) transparent, inset 0px MIN(0.865vw, 1.539vh) #babed4;
}

@media (max-width: 900px) {
  .shape-button-xl {
    width: MIN(34.667vw, 17.333vh);
    height: MIN(34.667vw, 17.333vh);
    border-radius: MIN(17.333vw, 8.667vh);
    border: solid MIN(4vw, 2vh) transparent;
    border-width: MIN(4vw, 2vh);
  }
}

.paper-xl {
  border-color: #4865f4;
  -webkit-box-shadow: 0px MIN(0.974vw, 1.732vh) #2a43c0, inset 0px MIN(0.865vw, 1.539vh) #babed4;
          box-shadow: 0px MIN(0.974vw, 1.732vh) #2a43c0, inset 0px MIN(0.865vw, 1.539vh) #babed4;
}

@media (max-width: 900px) {
  .paper-xl {
    -webkit-box-shadow: 0px MIN(1.568vw, 0.784vh) #2a43c0, inset 0px MIN(1.395vw, 0.697vh) #babed4;
            box-shadow: 0px MIN(1.568vw, 0.784vh) #2a43c0, inset 0px MIN(1.395vw, 0.697vh) #babed4;
  }
}

.rock-xl {
  border-color: #dc2e4e;
  -webkit-box-shadow: 0px MIN(0.974vw, 1.732vh) #9c1633, inset 0px MIN(0.865vw, 1.539vh) #babed4;
          box-shadow: 0px MIN(0.974vw, 1.732vh) #9c1633, inset 0px MIN(0.865vw, 1.539vh) #babed4;
}

@media (max-width: 900px) {
  .rock-xl {
    -webkit-box-shadow: 0px MIN(1.568vw, 0.784vh) #9c1633, inset 0px MIN(1.395vw, 0.697vh) #babed4;
            box-shadow: 0px MIN(1.568vw, 0.784vh) #9c1633, inset 0px MIN(1.395vw, 0.697vh) #babed4;
  }
}

.scissors-xl {
  border-color: #ec9e0e;
  -webkit-box-shadow: 0px MIN(0.974vw, 1.732vh) #c76a1a, inset 0px MIN(0.865vw, 1.539vh) #babed4;
          box-shadow: 0px MIN(0.974vw, 1.732vh) #c76a1a, inset 0px MIN(0.865vw, 1.539vh) #babed4;
}

@media (max-width: 900px) {
  .scissors-xl {
    -webkit-box-shadow: 0px MIN(1.568vw, 0.784vh) #c76a1a, inset 0px MIN(1.395vw, 0.697vh) #babed4;
            box-shadow: 0px MIN(1.568vw, 0.784vh) #c76a1a, inset 0px MIN(1.395vw, 0.697vh) #babed4;
  }
}

.spock-xl {
  border-color: #42b8cd;
  -webkit-box-shadow: 0px MIN(0.974vw, 1.732vh) #2d8ca9, inset 0px MIN(0.865vw, 1.539vh) #babed4;
          box-shadow: 0px MIN(0.974vw, 1.732vh) #2d8ca9, inset 0px MIN(0.865vw, 1.539vh) #babed4;
}

@media (max-width: 900px) {
  .spock-xl {
    -webkit-box-shadow: 0px MIN(1.568vw, 0.784vh) #2d8ca9, inset 0px MIN(1.395vw, 0.697vh) #babed4;
            box-shadow: 0px MIN(1.568vw, 0.784vh) #2d8ca9, inset 0px MIN(1.395vw, 0.697vh) #babed4;
  }
}

.lizard-xl {
  border-color: #a27bea;
  -webkit-box-shadow: 0px MIN(0.974vw, 1.732vh) #5f37a9, inset 0px MIN(0.865vw, 1.539vh) #babed4;
          box-shadow: 0px MIN(0.974vw, 1.732vh) #5f37a9, inset 0px MIN(0.865vw, 1.539vh) #babed4;
}

@media (max-width: 900px) {
  .lizard-xl {
    -webkit-box-shadow: 0px MIN(1.568vw, 0.784vh) #5f37a9, inset 0px MIN(1.395vw, 0.697vh) #babed4;
            box-shadow: 0px MIN(1.568vw, 0.784vh) #5f37a9, inset 0px MIN(1.395vw, 0.697vh) #babed4;
  }
}

.btn-pnl-cont {
  display: -ms-grid;
  display: grid;
}

.rules-button {
  width: MIN(9.37vw, 16.667vh);
  height: MIN(2.928vw, 5.208vh);
  border: solid 1px white;
  border-radius: MIN(0.586vw, 1.042vh);
  background-color: transparent;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  font-size: MIN(1.172vw, 2.084vh);
  font-weight: 600;
  letter-spacing: MIN(0.183vw, 0.326vh);
  text-justify: center;
  position: absolute;
  right: 0;
  margin-right: MIN(2.344vw, 4.168vh);
  bottom: MIN(2.344vw, 4.168vh);
  cursor: pointer;
}

@media (max-width: 900px) {
  .rules-button {
    width: MIN(34.133vw, 17.067vh);
    height: MIN(10.667vw, 5.333vh);
    border: solid MIN(0.267vw, 0.133vh) white;
    border-radius: MIN(2.133vw, 1.067vh);
    font-size: MIN(4.267vw, 2.133vh);
    letter-spacing: MIN(0.667vw, 0.333vh);
    position: relative;
    margin-right: 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.modal_container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
}

@media (max-width: 900px) {
  .modal_container {
    background-color: #969696;
  }
}

.modal-info-pent {
  background-color: #fff;
  width: MIN(29.28vw, 52.08vh);
  height: MIN(33.748vw, 60.026vh);
  place-self: center center;
  border-radius: MIN(0.586vw, 1.042vh);
}

@media (max-width: 900px) {
  .modal-info-pent {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.modal-info-pent .modal-img-container-pent {
  margin-top: MIN(1.464vw, 2.604vh);
  margin-left: MIN(2.344vw, 4.168vh);
  width: MIN(24.597vw, 43.75vh);
  height: MIN(24.158vw, 42.969vh);
}

@media (max-width: 900px) {
  .modal-info-pent .modal-img-container-pent {
    margin-top: 0px;
    margin-left: MIN(9.333vw, 4.667vh);
    width: MIN(81.333vw, 40.667vh);
    height: MIN(72.267vw, 36.133vh);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.modal-info {
  background-color: #fff;
  width: MIN(29.28vw, 52.08vh);
  height: MIN(30.381vw, 54.036vh);
  place-self: center center;
  border-radius: MIN(0.586vw, 1.042vh);
}

@media (max-width: 900px) {
  .modal-info {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.modal-info .modal-img_container {
  margin-top: MIN(3.514vw, 6.25vh);
  margin-left: MIN(3.587vw, 6.38vh);
  width: MIN(22.328vw, 39.714vh);
  height: MIN(19.839vw, 35.286vh);
}

@media (max-width: 900px) {
  .modal-info .modal-img_container {
    margin-top: 0px;
    margin-left: 0;
    -ms-grid-column-align: center;
        justify-self: center;
    width: MIN(81.333vw, 40.667vh);
    height: MIN(72.267vw, 36.133vh);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.info-text {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: MIN(2.344vw, 4.168vh);
  font-weight: 600;
  color: #3b4363;
  margin-top: MIN(2.344vw, 4.168vh);
  margin-left: MIN(2.344vw, 4.168vh);
  display: inline-block;
}

@media (max-width: 900px) {
  .info-text {
    font-size: MIN(8.533vw, 4.267vh);
    font-weight: bold;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0;
    margin-top: MIN(25.333vw, 12.667vh);
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.modal-close-button {
  display: inline-block;
  background-color: white;
  border: none;
  margin-left: MIN(16.984vw, 30.208vh);
  width: MIN(1.398vw, 2.486vh);
  height: MIN(1.398vw, 2.486vh);
}

.modal-close-button .close-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .modal-close-button {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
    margin-top: MIN(10.133vw, 5.067vh);
    -ms-grid-column-align: center;
        justify-self: center;
    width: MIN(5.091vw, 2.545vh);
    height: MIN(5.091vw, 2.545vh);
  }
}

.triangle {
  width: 100%;
  height: 100%;
}

.pentagon {
  width: 100%;
  height: 100%;
}

.player-cpu_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: MIN(5.271vw, 9.375vh);
}

@media (max-width: 900px) {
  .player-cpu_container {
    margin-top: MIN(26.4vw, 13.2vh);
    margin-bottom: MIN(65.333vw, 32.667vh);
  }
}

.container-with-result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto MIN(25.769vw, 45.833vh) auto;
      grid-template-columns: auto MIN(25.769vw, 45.833vh) auto;
  margin-top: MIN(5.271vw, 9.375vh);
}

@media (max-width: 900px) {
  .container-with-result {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    margin-top: MIN(26.4vw, 13.2vh);
  }
}

.winner-box {
  width: MIN(16.105vw, 28.646vh);
  height: MIN(9.59vw, 17.057vh);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: MIN(11.713vw, 20.833vh);
  text-align: center;
  display: -ms-grid;
  display: grid;
}

@media (max-width: 900px) {
  .winner-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -webkit-column-span: all;
            column-span: all;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: MIN(16.533vw, 8.267vh);
    width: 100%;
    height: MIN(34.933vw, 17.467vh);
    margin-bottom: MIN(13.867vw, 6.933vh);
  }
}

.winner-box .winner-text {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: MIN(4.1vw, 7.292vh);
  letter-spacing: 0px;
  font-weight: bold;
  color: white;
}

@media (max-width: 900px) {
  .winner-box .winner-text {
    font-size: MIN(14.933vw, 7.467vh);
  }
}

.winner-box .play-again-button {
  width: 100%;
  height: MIN(3.514vw, 6.25vh);
  background-color: #f2f2f2;
  border-radius: MIN(0.586vw, 1.042vh);
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: MIN(1.171vw, 2.083vw);
  letter-spacing: MIN(0.183vw, 0.326vh);
  color: #3b4363;
  cursor: pointer;
  border: none;
}

.winner-box .play-again-button:hover {
  color: #dc2e4e;
}

@media (max-width: 900px) {
  .winner-box .play-again-button {
    width: MIN(58.667vw, 29.333vh);
    height: MIN(12.8vw, 6.4vh);
    -ms-grid-column-align: center;
        justify-self: center;
    border-radius: MIN(2.133vw, 1.067vh);
    font-size: MIN(4.267vw, 2.133vh);
    letter-spacing: MIN(0.667vw, 0.333vh);
  }
}

.player-box {
  display: -ms-grid;
  display: grid;
  width: MIN(21.499vw, 38.151vh);
  text-align: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: MIN(2.635vw, 4.688vh);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 900px) {
  .player-box {
    width: MIN(34.667vw, 17.333vh);
    height: MIN(48.533vw, 24.267vh);
    margin-right: MIN(6.667vw, 3.333vh);
  }
}

.player-box .player-text {
  font-size: MIN(1.757vw, 3.125vh);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  letter-spacing: MIN(0.22vw, 0.391vh);
  color: white;
}

@media (max-width: 900px) {
  .player-box .player-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: MIN(4vw, 2vh);
    letter-spacing: MIN(0.501vw, 0.251vh);
  }
}

.player-box .player-shape {
  place-self: end;
  border-radius: MIN(10.71vw, 19.049vh);
}

@media (max-width: 900px) {
  .player-box .player-shape {
    place-self: start end;
    border-radius: MIN(17.333vw, 8.667vh);
  }
}

.cpu-box {
  display: -ms-grid;
  display: grid;
  width: MIN(21.499vw, 38.151vh);
  height: MIN(28.917vw, 51.432vh);
  text-align: center;
  margin-left: MIN(2.635vw, 4.688vh);
  justify-items: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 900px) {
  .cpu-box {
    width: MIN(38.667vw, 19.333vh);
    height: MIN(48.533vw, 24.267vh);
    margin-left: MIN(6.667vw, 3.333vh);
  }
}

.cpu-box .cpu-text {
  font-size: MIN(1.757vw, 3.125vh);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  letter-spacing: MIN(0.22vw, 0.391vh);
  color: white;
}

@media (max-width: 900px) {
  .cpu-box .cpu-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: MIN(4vw, 2vh);
    letter-spacing: MIN(0.501vw, 0.251vh);
  }
}

.cpu-box .cpu-shape {
  place-self: end;
  border-radius: MIN(10.71vw, 19.049vh);
}

@media (max-width: 900px) {
  .cpu-box .cpu-shape {
    place-self: start center;
    border-radius: MIN(17.333vw, 8.667vh);
  }
}

.cpu-box .empty-shape {
  width: MIN(16.444vw, 29.249vh);
  height: MIN(16.444vw, 29.249vh);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: MIN(8.222vw, 14.6245vh);
}

@media (max-width: 900px) {
  .cpu-box .empty-shape {
    width: MIN(29.333vw, 14.667vh);
    height: MIN(29.333vw, 14.667vh);
    border-radius: MIN(14.667vw, 7.333vh);
    margin-top: MIN(3.019vw, 1.509vh);
    margin-bottom: MIN(2.315vw, 1.157vh);
  }
}

.winner {
  -webkit-box-shadow: 0 0 0 MIN(4.81vw, 8.555vh) rgba(150, 150, 150, 0.1), 0 0 0 MIN(9.934vw, 17.669vh) rgba(150, 150, 150, 0.1), 0 0 0 MIN(16.01vw, 28.477vh) rgba(150, 150, 150, 0.1);
          box-shadow: 0 0 0 MIN(4.81vw, 8.555vh) rgba(150, 150, 150, 0.1), 0 0 0 MIN(9.934vw, 17.669vh) rgba(150, 150, 150, 0.1), 0 0 0 MIN(16.01vw, 28.477vh) rgba(150, 150, 150, 0.1);
}

@media (max-width: 900px) {
  .winner {
    -webkit-box-shadow: 0 0 0 MIN(5.067vw, 2.533vh) rgba(150, 150, 150, 0.1), 0 0 0 MIN(12.533vw, 6.267vh) rgba(150, 150, 150, 0.1), 0 0 0 MIN(21.067vw, 10.533vh) rgba(150, 150, 150, 0.1);
            box-shadow: 0 0 0 MIN(5.067vw, 2.533vh) rgba(150, 150, 150, 0.1), 0 0 0 MIN(12.533vw, 6.267vh) rgba(150, 150, 150, 0.1), 0 0 0 MIN(21.067vw, 10.533vh) rgba(150, 150, 150, 0.1);
  }
}
/*# sourceMappingURL=style.css.map */